{% extends 'base.html.twig' %}

{% block title %}Login index{% endblock %}

{% block body %}
    {{ include('misc/menu.html.twig') }}
    <h1>Login index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Password</th>
                <th>Status</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for login in logins %}
            <tr>
                <td>{{ login.id }}</td>
                <td>{{ login.username }}</td>
                <td>{{ login.password }}</td>
                <td>{{ login.status }}</td>
                <td>{{ login.type }}</td>
                <td>
                    <a href="{{ path('app_login_crud_show', {'id': login.id}) }}">show</a>&nbsp;|&nbsp;
                    <a href="{{ path('app_login_crud_edit', {'id': login.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_login_crud_new') }}">Create new</a>
{% endblock %}
