{% extends 'base.html.twig' %}

{% block title %}Transactions index{% endblock %}

{% block body %}
    {{ include('misc/menu.html.twig') }}
    <h1>Transactions index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Status</th>
                <th>Ins_date</th>
                <th>Ins_uid</th>
                <th>Mod_date</th>
                <th>Mod_uid</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.date ? transaction.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ transaction.status ? 'Yes' : 'No' }}</td>
                <td>{{ transaction.insDate ? transaction.insDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ transaction.insUid }}</td>
                <td>{{ transaction.modDate ? transaction.modDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ transaction.modUid }}</td>
                <td>
                    <a href="{{ path('app_transactions_crud_show', {'id': transaction.id}) }}">show</a>
                    <a href="{{ path('app_transactions_crud_edit', {'id': transaction.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_transactions_crud_new') }}">Create new</a>
{% endblock %}
