{% extends 'base.html.twig' %}

{% block title %}Transactions{% endblock %}

{% block body %}
    {{ include('misc/menu.html.twig') }}
    <h1>Transactions</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transaction.id }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ transaction.client.name }}</td>
            </tr>
            <tr>
                <th>Product</th>
                <td>{{ transaction.product.name }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ transaction.amount }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ transaction.date ? transaction.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Finished</th>
                <td>{{ transaction.status ? 'Yes' : 'No' }}</td>
            </tr>
            {<tr>
                <th>Insert date</th>
                <td>{{ transaction.insDate ? transaction.insDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Modify date</th>
                <td>{{ transaction.modDate ? transaction.modDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_transactions_crud_index') }}">back to list</a>

    <a href="{{ path('app_transactions_crud_edit', {'id': transaction.id}) }}">edit</a>

    {{ include('transactions_crud/_delete_form.html.twig') }}
{% endblock %}
