{% extends 'base.html.twig' %}

{% block title %}Reports{% endblock %}

{% block body %}
    {{ include('misc/menu.html.twig') }}
    <h1>Reports</h1>
    <form method='POST'>
        <div class='container-repo'>
            <div class="row">
                <div class="col-4">
                    <label for="trans_date_from" class="repo">From date</label>
                    <input class="form-select" type="datetime-local" id="trans_date_from" name="trans_date_from" value="" data-has-listeners="true">
                </div>
                <div class="col-4">
                    <label for="trans_date_to" class="repo">To date</label>
                    <input class="form-select" type="datetime-local" id="trans_date_to" name="trans_date_to" value="" data-has-listeners="true">
                </div>
                <div class="col-4">
                    <label for="trans_type" class="repo">Transaction Type</label>
                    <select class="form-select" name="trans_type" id="trans_type">
                        <option selected value=""></option>
                        <option value="0">Pending</option>
                        <option value="1">Finished</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="trans_product" class="repo">Product</label>
                    <select class="form-select" name="trans_product" id="trans_product">
                        <option selected value=""></option>
                        {% for product in products %}
                            <option value='{{ product.id }}'>{{ product.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-4">
                    <label for="trans_comp" class="repo">Compared</label>
                    <select class="form-select" name="trans_comp" id="trans_comp">
                        <option selected value=""></option>
                        <option value="1">Last month</option>
                        <option value="2">Last 2 months</option>
                        <option value="3">Last 3 months</option>
                        <option value="6">Last 6 months</option>
                    </select>
                </div>
                <div class="col-2 pt-4">
                    <label class="form-check-label" for="trans_csv">
                        Export CSV
                    </label>
                    <input class="form-check-input" type="checkbox" value="1" id="trans_csv" name="trans_csv">
                </div>
                <div class="col-2 pt-4 pl-4">
                    <button class='btn-ok' type='submit'>Show/Export</button>
                </div>
            </div>
        </div>

    </form>
    <div class='container'>
        <h3>Filters</h3>
        <ul>
            <li> From date: {{ params.from_date }}</li>
            <li> To date: {{ params.to_date }}</li>
            <li> Transaction type: {{ params.type_text }}</li>
            <li> Product: {{ params.product_text }}</li>
        </ul>
        </br>
        <table class='table'>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Status</th>
                    <th>Number</th>
                    {%if params.compared %}
                        <th>Compared {{ params.compared }} month(s) before</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for report in reports %}
                <tr>
                    <td>{{ report.name }}</td>
                    <td>{{ report.status | mapStatusTrans }}</td>
                    <td>{{ report.tsnr }}</td>
                    {% if params.compared %}
                        <td>{{ report.compared }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
